{% extends 'layout.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}
<div>Promotions du moment</div>
<article>
    <div>
        <h2>Les classiques</h2>
        <a href="#">+ tout voir</a>
    <div>
    <div>
        <img src="https://via.placeholder.com/380x300"/>
        <div>
            <img src="https://via.placeholder.com/200x120"/>
            <img src="https://via.placeholder.com/200x120"/>
            <img src="https://via.placeholder.com/200x120"/>
            <img src="https://via.placeholder.com/200x120"/>
        </div>
    </div>
</article>
<article>
    <div>
        <h2>Les artistes</h2>
        <a href="#">+ tout voir</a>
    <div>    
    <div>
        {% for artist in artists %}
            <img src="https://via.placeholder.com/380x300"/>
            <div>
                <img src="https://via.placeholder.com/200x120"/>
                <img src="https://via.placeholder.com/200x120"/>
                <img src="https://via.placeholder.com/200x120"/>
                <img src="https://via.placeholder.com/200x120"/>
            </div>
        {% else %}
            <p>Il n'y a pas encore d'artistes à présenter.</p>
        {% endfor %}
    </div>
</article>
<article>
    <div>
        <h2>Le oeuvres uniques</h2>
        <a href="#">+ tout voir</a>
    <div>
    <div>
        {% for artist in artists %} 
            <img src="https://via.placeholder.com/380x300"/>
            <div>
                <img src="https://via.placeholder.com/200x120"/>
                <img src="https://via.placeholder.com/200x120"/>
                <img src="https://via.placeholder.com/200x120"/>
                <img src="https://via.placeholder.com/200x120"/>
            </div>
        {% else %}
            <p>Il n'y a pas encore d'oeuvres à présenter.</p>
        {% endfor %}
    </div>
</article>
<div>
    <div>
        <h2>Inscription à notre newsletter</h2>
        <p>Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant</p>
    <div>
    <div>
        <input placeholder="Email">
    </div>
</div>
<hr>
<section>
    <h2>Commandes facilitées</h2>
    <div>
        <img src="https://via.placeholder.com/180x100" />
        <p>Petite explication</p>
    </div>
    <div>
        <img src="https://via.placeholder.com/180x100" />
        <p>Petite explication</p>
    </div>
    <div>
        <img src="https://via.placeholder.com/180x100" />
        <p>Petite explication</p>
    </div>
</section>
<section>
    <h2>Ils parlent de nous</h2>
    <div>
        <img src="https://via.placeholder.com/120x75" />
        <p>Partenaire</p>
    </div>
    <div>
        <img src="https://via.placeholder.com/120x75" />
        <p>Partenaire</p>
    </div>
    <div>
        <img src="https://via.placeholder.com/120x75" />
        <p>Partenaire</p>
    </div>
    <div>
        <img src="https://via.placeholder.com/120x75" />
        <p>Partenaire</p>
    </div>
</section>
{% endblock %}
