{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} - Nouvel évènement{% endblock %}

{% block content %}

<h2>Nouvel évènement<h2>

{{ form_start(form)}}
    {{ form_widget(form)}}
    <button type="submit">Créer l'évènement</button>    
{{ form_end(form)}}
{% endblock %}