{% extends 'layout.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block content %}
<h1>Avis de non-responsabilité pour The art factory</h1>

<p>Toutes les informations sur ce site - http://artfactory-ipssi.herokuapp.com/ - sont publiées de bonne foi et à titre d'information générale uniquement. L'usine d'art ne donne aucune garantie quant à l'exhaustivité, la fiabilité et l'exactitude de ces informations. Toute action que vous entreprenez sur les informations que vous trouvez sur ce site Web (L'usine d'art) est strictement à vos risques et périls. L'usine d'art ne sera pas responsable des pertes et/ou dommages liés à l'utilisation de notre site Web.</p>

<p>À partir de notre site Web, vous pouvez visiter d'autres sites Web en suivant des hyperliens vers ces sites externes. Bien que nous nous efforcions de ne proposer que des liens de qualité vers des sites utiles et éthiques, nous n'avons aucun contrôle sur le contenu et la nature de ces sites. Ces liens vers d'autres sites Web n'impliquent pas une recommandation pour tout le contenu trouvé sur ces sites. Les propriétaires et le contenu du site peuvent changer sans préavis et peuvent survenir avant que nous ayons la possibilité de supprimer un lien qui aurait pu devenir « mauvais ».</p>

<p>Sachez également que lorsque vous quittez notre site Web, d'autres sites peuvent avoir des politiques et des conditions de confidentialité différentes qui échappent à notre contrôle. Assurez-vous de vérifier les politiques de confidentialité de ces sites ainsi que leurs "Conditions d'utilisation" avant de vous engager dans une entreprise ou de télécharger des informations.</p>

<h2>Consentement</h2>

<p>En utilisant notre site Web, vous consentez par la présente à notre clause de non-responsabilité et acceptez ses conditions.</p>

<h2>Mise à jour</h2>

<p>Si nous mettons à jour, modifions ou apportons des changements à ce document, ces changements seront affichés en évidence ici.</p>
{% endblock %}