{% block title %} {% endblock %}

{% block body %}

<div>
    </br></br>
    
    <ul>
           <b>{{artist.firstname}} {{artist.name}}  <button name="Abonnement">S'abonner</button>  </br></b>  
    </ul>
    <ul>
    <tbody><tr>
        <td><img src="https://via.placeholder.com/100x100"/></td>
        <td>
        Description personnelle de l'artiste. </br>
        Quo iure deleniti eum ratione obcaecati eum error molestias est tempore dolor </br>
        qui praesentium omnis sit sunt voluptate ad earum sunt. </br>
        Et quae ratione ex magni quam 33 autem molestias eos voluptas odit.
        </td></tr>
        </tbody>
    </ul>

</div>

{% endblock %}