{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}<h1>Tableau de bord</h1>{% endblock %}
{# {% block page_actions %}
    <a class="btn btn-primary" href="...">Some Action</a>
{% endblock %} #}

{% block main %}
    
    <table class="datagrid">
        <thead>
            <tr>
                <td>Nombre de ventes</td>
                <td>Chiffre d'affaire actuel</td>
            </tr>
        </thead>
        <tbody>
            {# {% for data in my_own_data %} #}
                <tr>
                <td>Some </td>
                <td>Another </td>
                    {# <td>{{ data.someColumn }}</td>
                    <td>{{ data.anotherColumn }}</td> #}
                </tr>
            {# {% endfor %} #}
        </tbody>
    </table>
{% endblock %}

{# <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> #}