{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} - {% if app.request.get('_route') == 'product_new'%}Nouvelle{% else %}Editer une{% endif %} oeuvre{% endblock %}

{% block content %}



{% if app.request.get('_route') == 'product_new'%}
<h2 class="rubriqueTitle">Nouvelle oeuvre</h2>
{% else %}
<h2 class="rubriqueTitle">Editer une oeuvre</h2>
{% endif %}
<div class="formBox">
    <div class="product">
        {{ form_start(form)}}
            {{ form_widget(form)}}
            <button type="submit"> {% if app.request.get('_route') == 'product_new'%}Créer{% else %}Editer{% endif %} le produit</button>    
        {{ form_end(form)}}
    </div>
</div>

{% endblock %}