{% extends 'layout.html.twig' %}

{% block title %}{{parent()}}Les oeuvres vendues{% endblock %}

{% block content %}
    
    <h1>Oeuvres vendues</h1>
    <div class="filters">
        {{form_start(form)}}
        {{form_end(form)}}
    </div>

    <section class="productsList">
    {% for product in products %}
        {% if loop.first %}

        {% endif %}
        
        {% include 'product/productCard.twig' %}


    {% else %}
    <p>Il n'y a pas de produit vendu</p>
    {% endfor %}
	</section>
{% endblock %}
