@import url('header.css');
@import url('footer.css');
@import url('home.css');
@import url('profil.css');
@import url('artistPage.css');
@import url('artistList.css');
@import url('productPage.css');
@import url('connectPage.css');
@import url('categoriesPage.css');
@import url('cart.css');

main {
  margin: 0 2vw;
}

.nav {
  list-style: none;
}

.nav__link {
  text-decoration: none;
}
