@import url('header.css');
@import url('footer.css');
@import url('home.css');
@import url('profil.css');
@import url('artistPage.css');
@import url('artistList.css');
@import url('productPage.css');
@import url('connectPage.css');
@import url('categoriesPage.css');
@import url('cart.css');
@import url('event.css');
@import url('artists.css');
@import url('users.css');
@import url('form.scss');
@import url('adress.css');

main {
  margin: 0 2vw;
  font:  14px "Georgia", serif;
}

.nav {
  list-style: none;
}

.nav__link {
  text-decoration: none;
}

img#logo{
  width: 15vw;
}
