section.presentation {
  margin-top: 3vw;
 
}

aside {
  width: 25vw;
  height: 500px;
  text-align: justify;
}

section.presentation,
.follow,
.identity,
div.products,
.otherArtists,
.anotherArtist {
  display: flex;
  height: auto;
}

section#otherArtists{
  margin: 5vh 0;
}

div.anotherArtist{
  width: 30vw;
  justify-content: space-between;
}

div.otherPresentation{
  width:19vw;
}

.follow p {
  margin-left: 10px;
}
.identity img {
  width: 45%;
  object-fit: cover;
}

div.products {
  justify-content: space-around;
  flex-wrap: wrap;
  width: 68vw;
  margin-left: 3vw;
}

div.products div.product {
  width: 20vw;
}

div#oeuvreState{
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

img.sold{
  width: 5Vw;
  margin-top: -5vh;
}

div.product img {
  object-fit: cover;
  width: 20vw;
}

.otherArtists {
  justify-content: space-around;
}

.anotherArtist img {
  width: 10vw;
  height: 15vh;
  object-fit: cover;
}

/* =========== Boutons ============*/

.followButton {
	
	border: 1px solid #366a76;
	padding: 0.1vw;
	padding-right: 5px;
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    
    text-decoration: none;
    color: rgb(0, 0, 0);
    font:  14px "Georgia", serif;
	background-color: rgb(255, 255, 255);
  }

  .followButton:hover {
	
	border: 1px solid #764B36;
	padding: 0.1vw;
	padding-right: 5px;
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
	color: rgb(0, 0, 0);
  font:  14px "Georgia", serif;
	background-color: rgb(255, 241, 112);
  }


  .unfollowButton {
	
    border: 1px solid #366a76;
    padding: 0.1vw;
    padding-right: 5px;
    -webkit-appearance: button;
      -moz-appearance: button;
      appearance: button;
  
      text-decoration: none;
      color: rgb(255, 255, 255);
      font:  14px "Georgia", serif;
    background-color: rgb(0, 56, 102);
    }
  
    .unfollowButton:hover {
    
    border: 1px solid #764B36;
    padding: 0.1vw;
    padding-right: 5px;
    -webkit-appearance: button;
      -moz-appearance: button;
      appearance: button;
      font:  14px "Georgia", serif;
      text-decoration: none;
    color: rgb(255, 255, 255);
  
    background-color: rgb(50, 202, 222);
    }