section.backgroundConnect {
  margin: 0;
  width: 99vw;
  height: 82vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.backgroundConnect img {
  position: absolute;
  top: 5vw;
  left: 0;
  width: 100vw;
  height: 82vh;
  object-fit: cover;
}



form.connection {
  display: flex;
  flex-direction: column;
}

div.noAccount {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.noAccount a {
  margin-left: 10px;
}
