.header_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255,196,168,0.5);
    height: 40px;
    padding: 0;

}

nav,
nav .nav {
    display: flex;
    justify-content: space-between;
}

nav .nav__link {
    margin: 0 1.5vw;
}