article.articleHome,
section.sectionHome {
  margin: 2vw;
}

article.articleHome div.article__header,
section.subscription {
  display: flex;
  justify-content: space-between;
}

article.articleHome div.article__image {
  height: 30vw;
  width: 100%;
}

article.articleHome div.article__image--big,
article.articleHome div.article__image--big img {
  width: 40vw;
  height: 28vw;
  object-fit: cover;
}

article.articleHome div.article__image--small,
article.articleHome div.article__image--small img {
  width: 20.5vw;
  height: 12.5vw;
  flex-wrap: wrap;
  object-fit: cover;
}

article.articleHome div.article__image--big,
article.articleHome div.article__image--small {
  position: relative;
}

article.articleHome div.article__image--multi {
  margin-left: 15vw;
  padding-left: 2vw;
  flex-wrap: wrap;
  width: auto;
  height: 28vw;
}

article.articleHome div.article__image--big img,
article.articleHome div.article__image--small img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

article.articleHome div.article__image--big h3,
article.articleHome div.article__image--big p,
article.articleHome div.article__image--small h3,
article.articleHome div.article__image--small p {
  background-color: #efe7dd;
  position: absolute;
  z-index: 3;
}

article.articleHome div.article__image--big p,
article.articleHome div.article__image--small p {
  bottom: 0;
  right: 0;
}

section.subscription {
  padding: 1vw;
  background-color: #ffc4a8;
}

article.articleHome div.article__image,
article.articleHome div.article__image--multi,
section .order__items,
section .partner__items {
  display: flex;
  justify-content: space-around;
}

div.order__items div{
  width: 17vw;
  text-align: center;
}

div.order__items div img{
  width: 10vw;
  height: 15vh;
  object-fit: contain;
  margin: 0.5vw 3.5vw;
}

section .partner__items div img {
  width: 15vw;

}
