.profileBoxSmall
{
    background-color: rgb(240, 235, 223);
	border:solid 1px rgb(240, 235, 223);
	margin-left: 2% ; /*centrer les elements avec margin : auto */
	margin-right: auto;
    margin-top: 1px;
    
	border-radius: 1px;
	width:25% ;
	box-shadow :-3px 7px 16px #ced6de;
	opacity: 1;
	margin: 10px;
}

.deleteAccountButton {
	border: 2px solid #764B36;
	
    padding-left: 0.1vw;
	padding-right: 0.1vw;
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: white;

	background-color: rgb(171, 69, 0);
  }
  
  .deleteAccountButton:hover {
	border: 2px solid #764B36;
	padding-left: 0.1vw;
	padding-right: 0.1vw;
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: white;

	background-color: rgb(255, 60, 0);
  }



.modaleContainer {
    display: none;
    position: fixed;
    z-index: 1;
    /* padding-top: 100px; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background-color: rgb(215, 232, 110); */
    background-color: rgba(239, 231, 221, 0.6);
}

.modale-slide-side {
    position: absolute;
    background-color: #EFE7DD;
    margin-left: 60%;
    margin-top: 0;
    padding: 20px;
    border: 1px solid #764B36;
    width: 40%;
    height: 100vh;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}