{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} - Contact{% endblock %}

{% block content %}

<div>
    {% for message in app.session.flashBag.get('success') %}
        <div>{{ message }}</div>
    {% endfor %}
</div>
    <div class="formBox">
    <h1 class="rubriqueTitle">Nous contacter</h1>

        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>


{% endblock %}