
/* =========== Box pour la page liste des artistes (/artistes) ============*/


.artistBox
{
    background-color: #ffffffdc;
	border:solid 2px  #ffffffdc;
	margin-left: 5% ; /*centrer les elements avec margin : auto */
	margin-right: auto;
    margin-top: 20;
    
	border-radius: 3px;
	width:40% ;
	box-shadow :-3px 7px 16px #ced6de;
	opacity: 0.85;
}


.artistBox:hover
{
    background-color: #ffffff;
	border:solid 2px  #ded8cece;
	margin-left: 5% ; /*centrer les elements avec margin : auto */
	margin-right: auto;
    margin-top: 20;
    
	border-radius: 3px;
	width:40% ;
	box-shadow :-3px 7px 16px #ced6de;
	opacity: 1;
}

/* =========== Contenu de la box artiste ============*/

.artistCard
{
	margin-left: 5% ; /*centrer les elements avec margin : auto */
	margin-right: 5%;
    margin-top: 5%;
	min-height:135px;
	font: italic 16px "Fira Sans", serif;
}

.artistTitle
{
    font-size : 30px; 
}

/* =========== Sections diverses ============*/

/*  Titre de page */
.rubriqueTitle
{
    font-size : 30px; 
	letter-spacing:4px;
	font: italic bold 30px "Fira Sans", serif;
}

/*  Images en float (les avatars, principalement) */
.pictureFloat
{
	float: left;
	margin-right: 3%;
}

body {
	background-color: rgb(240, 235, 223);
  }