{% extends 'base.html.twig' %}

{% block body %}

    <section class="backgroundConnect">
        {% block wallpaper %}{% endblock %}
        <div class="formBox">
            {% block connection %}
            {% endblock %}
        </div>
    </section>
{% endblock %}