{% extends 'base.html.twig' %}

{% block body %}

    <section class="backgroundConnect">
        <img class="imgConnect" src="{{ asset('img/product/7046031f3762bf4a7bab3cbbbcf7bdbc.jpg') }}"/>
        <div class="formBox">
            {% block connection %}
            {% endblock %}
        </div>
    </section>
{% endblock %}