{% extends 'base.html.twig' %}

{% block body %}

    <section class="backgroundConnect">
        <div class="formConnect">
            {% block connection %}
            {% endblock %}
        </div>
    </section>
{% endblock %}