{% extends 'base.html.twig' %}

{% block body %}

<header>
    <nav>

    </nav>
</header>

{% block content %}{% endblock %}

<footer>
    <div>
        <div>
            <h4>Nos offres</h4>
            <ul>
                <li><a href="#">Les classiques</a></li>
                <li><a href="#">Les artistes</a></li>
                <li><a href="#">Les oeuvres à vendre</a></li>
                <li><a href="#">Inscription / Connexion</a></li>
                <li><a href="#">Conditions de ventes</a></li>
                <li><a href="#">Retours et remboursements</a></li>
            </ul>
        <div>
        <div>
            <h4>Artistes</h4>
            <ul>
                <li><a href="#">Inscription / Connexion</a></li>
                <li><a href="#">Exposer et vendre</a></li>
            </ul>
        <div>
        <div>
            <h4>Evenements</h4>
            <ul>
                <li><a href="#">Exposition du moment</a></li>
                <li><a href="#">Vernissages à venir</a></li>
                <li><a href="#">Nouveaux arrivants</a></li>
            </ul>
        <div>
        <div>
            <h4>Guides et contact</h4>
            <ul>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Relation presse</a></li>
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Politique de confidentialité</a></li>
                <li><a href="#">CGU</a></li>
            </ul>
        <div>
    </div>  
    &copy2022 ArtGalery
</footer>

{% endblock %}