{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} - Gérer mes adresse{% endblock %}

{% block content %}
    <h1>Gérer mes adresse</h1>

    {{form_start(form)}}
    {{form_end(form)}}
{% endblock %}