{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} - Valider ma commande{% endblock %}

{% block content %}

    <h1>Valider ma commande</h1>
    <p>Choisissez os préférences avant de passer votre commande.</p>
    <hr/>
    <div>        
        <div>
            <b></b>
            <b></b>
        </div>
        <div>
            <b></b>
            <b></b>
        </div>
    </div>

    
{% endblock %}
